@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 1300px) {
    .secondSign {
        display: none;
    }
}
@media only screen and (max-width: 1640px) {
    .costCentre {
        display: none;
    }
    .absoluteNote {
        display: none;
    }
    .spacer {
        display: none;
    }
}
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
}
.paginator {
    height: 40px;
    width: calc(100% - 177px);
    padding: 0px 163px 0 14px;
    background-color: rgb(242, 242, 242);
    display: flex;
    border-bottom: 1px solid lightgray;
} 
.facetsSidenav {
    width: 300px;
    background-color: rgb(242, 242, 242);
}
.sidenav-container {
    flex: 1;
}
.is-mobile .sidenav-container {
    flex: 1 0 auto;
}
.noSelect {
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
}
.contentContainer {
    overflow: hidden;
}
::ng-deep .mat-paginator-container {
    min-height: 40px !important;
    height: 40px !important;
    background-color: rgb(242, 242, 242);
}
.spacer {
    flex: 1 1 auto;
}
.arrows {
    position: relative;
    transform: scale(0.7);
    top: 2px;
    color: rgb(115, 115, 115);
}
.filter {
    position: relative;
    right: 15px;
    color: rgb(115, 115, 115);
}
.filterReset {
    position: relative;
    left: 3px;
    color: rgb(115, 115, 115);
}
.reset {
    position: relative;
    transform: scale(0.6);
    right: 12px;
    top: 2px;
    color: rgb(115, 115, 115);
}
.sidenavControl {
    width: 306px;
}
.sortIcon {
    transform: scale(0.9);
    color: rgb(111, 111, 111);
}
.sortButton {
    position: relative;
    right: 10px;
    color: rgb(111, 111, 111);
}
::ng-deep .orderByPanel.mat-select-panel {
    background: rgba(255, 255, 255, 0.9);
}
.sortAndOrder {
    display: flex;
}
::ng-deep .orderBy .mat-form-field-wrapper {
    font-size: 13px !important;
}
.orderText {
    margin-right: 10px;
    font-size: 14px;
    position: relative;
    top: 15px;
    color: rgb(111, 111, 111);
}
::ng-deep .orderByPanel .mat-option-text {
    font-size: 14px;
}
.mat-expansion-panel {
    border-bottom: 1px solid rgba(211, 211, 211, 0.921);
    background-color: rgba(255, 255, 255, 0.2) !important; 
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12) !important;
}
.mat-expansion-panel-header {
    padding: 0 10px 0 20px !important;
}
.mat-expansion-panel-header-title {
    line-height: 24px !important;
}
::ng-deep .mat-expansion-panel-body {
    padding: 0 0px 16px 0px !important;
    margin-left: -4px;
}
.mat-list-base {
    padding-top: 0px !important;
}
::ng-deep .mat-list-item {
    height: 40px !important;
    border-radius: 15px;
    margin-bottom: 2px !important;
}
.viewport {
    height: calc(100vh - 104px);
    width: 100%;
}
.listItem {
    display: block;
    height: 139px;
    width: calc(100% - 20px);
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    padding: 5px 20px 5px 10px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    margin-left: -1px;
}
.infoDiv {
    height: 119px;
    display: flex;
    width: calc(100% - 20px);
}
.note {
    height: 20px;
}
.employee, .secondSign, .amountDiv, .costCentre, .date {
    height: 112px;
}
.employee {
    margin-left: 10px;
    padding-top: 5px;
}
.date span, .amountDiv span {
    line-height: 30px;
}
.costCentre span {
    line-height: 24px;
}
.secondSign span {
    line-height: 24px;
}
.employee span {
    line-height: 18px;
}
.costCentre {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.secondSign, .employee, .secondSignTitle, .secondSignId {
    width: 310px;
}
.amountDiv {
    width: 170px;
}
.date, .dateTitle {
    width: 110px;
}
.descr {
    font-size: 14px;
    width: 90px;
    color: gray;
    font-weight: normal;
    letter-spacing: normal;
}
.descrAmount {
    font-size: 14px;
    width: 60px;
    font-weight: normal;
    color: gray;
}
.dateDescr {
    font-size: 14px;
    color: gray;
}
span {
    display: inline-block;
    font-size: 15px;
}
.dateTitle, .secondSignTitle, .secondSignId {
    text-align: center;
}
.secondSignId {
    color: rgb(97, 97, 97);
    font-weight: bold;
    font-size: 16px;
}
.workerId {
    font-size: 20px;
    font-weight: bold;
    color: rgb(2, 120, 189);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 280px;
    letter-spacing: 3px;
    position: relative;
    top: -5px;
}
.worker {
    font-size: 17px;
    letter-spacing: 1px;
    left: 0;
}
.amount, .currency {
    font-size: 16px;
}
.importoValuta {
    font-size: 21px;
    font-weight: bold;
    color: rgba(141, 0, 0, 0.705);
}
.cdcInfo {
    position: relative;
    top: 6px;
    margin-right: 5px;
    left: -2px;
    color: rgba(0, 0, 0, 0.608);
}
.listIcon {
    position: relative;
    top: 5px;
    margin-right: 5px;
    left: -2px;
    color: rgba(0, 0, 0, 0.708);
}
.top {
    font-size: 29px;
    top: 0;
    left: -5px;
    color: rgb(2, 120, 189);
}
.cdcId {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
.yearMonthDay {
    font-size: 17px;
    font-weight: bold;
    width: 110px;
    text-align: center; 
}
.absoluteNote {
    font-size: 17px;
    color: rgba(128, 0, 0, 0.712);
    position: relative;
    left: 10px;
    bottom: 5px;
}
.selected {
    background-color: rgba(2, 120, 189, 0.61) !important;
    color: white !important;
}
.cdcTitle {
    position: relative;
    left: 2px;
}
::ng-deep .mat-list-item-ripple.mat-ripple {
    border-radius: 15px;
}
.descrNote {
    opacity: 0.8;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
}
.noteIcon {
    font-size: 22px;
    position: relative;
    left: 8px;
    color: rgba(128, 0, 0, 0.712);
}
::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
    width: 5px;
}
::ng-deep .mat-drawer-container {
}
::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background: rgba(167, 167, 167, 0.551);
    border-radius: 20px;
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
.showMore {
    margin: 0 30px;
}
.facetOptionIcon {
}
.mat-expansion-panel-header-title .mat-icon {
    color: gray;
}
::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
    background-color: rgb(2, 120, 189) !important;
}
.noFilters {
    display: none;
}
.includeMargin {
    margin-left: 30px;
}
.mat-badge {
    top: 11px !important;
    left: 2px !important;
    margin-right: 30px !important;
}
.mat-badge-content.mat-badge-active {
    background-color: #0277bd !important;
}
.selectedOption {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.move {
    font-size: 24px !important;
    width: 28px !important;
}